a.symbol:before {
    content: none;
    margin-right: 0;
    font-size: inherit;
}
/*==== Home Page ====*/

div[data-type="sprite"] {
	padding-bottom: 200%;
}

.home #forth form {
	padding-bottom: 30%;
}
.parallax3 .farm {
	top: 0;
	bottom: auto;
}
.parallax3 .fresh {
	padding-bottom: 200%;
}

.parallax5 .pro-cycle, .parallax5 .pro-cycle-logo {
	padding: 50%;
	position: relative;
}

.parallax4 div.small-3:last-child {
	position: absolute;
	right: 0;
	top: 0;
}
.parallax7 .small-9 .small-8 {

}
.parallax7 .smash-icon {
	padding-bottom: 50%;
}
.parallax7 h2 {
	margin-bottom: 60%;
}