a.symbol:before {
    content: none;
    margin-right: 0;
    font-size: inherit;
}
.tan-btn span {
  background-color: #c8bda6;
}
.darkred-btn  span {
	background-color: #c4161c;
}
.blue-btn span {
	background-color: #87afd1;
}
.red-btn span {
	background-color: #df3627;
}
.brown-btn span {
	background-color: #6f4b35;
}
.tan-btn span, .red-btn span, .brown-btn span, .blue-btn span, .darkred-btn span {
	background: url(../img/arrow_btn.svg) -200% center no-repeat;
}
/*==== Home Page ====*/

div[data-type="sprite"] {
	padding-bottom: 200%;
}

.home #forth form {
	padding-bottom: 30%;
}
.parallax3 .farm {
	top: 0;
	bottom: auto;
}
.parallax3 .fresh {
	padding-bottom: 200%;
}

.parallax5 .pro-cycle, .parallax5 .pro-cycle-logo {
	padding: 55.5% 50% 56% 50%;
	position: relative;
}

.parallax4 div.small-3:last-child {
	position: absolute;
	right: 0;
	top: 0;
}
.parallax7 .small-9 .small-8 {

}
.parallax7 .smash-icon {
	padding-bottom: 50%;
}
.parallax7 h2 {
	margin-bottom: 49.5%;
}
/*==== Were Growing ====*/
.zoom-slider {
	display: none;
}

/*==== Menu ====*/
.flip-container {
	height: 450px;
}
.flip-container .back {
	display: none;
}
.flip-container .front:hover img {
	opacity: 0;
}
.flip-container .front:hover .flip-container .back {
	display: block;
}
.front img {
	padding-top: 60px;
	height: 300px;
}
