a.symbol:before {
    content: none;
    margin-right: 0;
    font-size: inherit;
}
/*==== Home Page ====*/

div[data-type="sprite"] {
	padding-bottom: 200%;
}

.home #forth form {
	padding-bottom: 30%;
}
.parallax3 .farm {
	top: 0;
	bottom: auto;
}
.parallax3 .fresh {
	padding-bottom: 200%;
}

.parallax5 .small-9 div.small-4 {
	padding-bottom: 50%;
}