a.symbol:before {
    content: none;
    margin-right: 0;
    font-size: inherit;
}
.tan-btn span {
  background-color: #c8bda6;
}
.darkred-btn  span {
	background-color: #c4161c;
}
.blue-btn span {
	background-color: #87afd1;
}
.red-btn span {
	background-color: #df3627;
}
.brown-btn span {
	background-color: #6f4b35;
}
/*.tan-btn span, .red-btn span, .brown-btn span, .blue-btn span, .darkred-btn span {
	background: url(../img/arrow_btn.svg) -200% center no-repeat;
	background-size: 
}*/
select {
	background-image: none;
}
/*==== Home Page ====*/

div[data-type="sprite"] {
	padding-bottom: 200%;
}

.home #forth form {
	padding-bottom: 30%;
}
.parallax3 .farm {
	top: 0;
	bottom: auto;
}
.parallax3 .fresh {
	padding-bottom: 200%;
}

.parallax5 .pro-cycle, .parallax5 .pro-cycle-logo {
	padding: 55.5% 50% 56% 50%;
	position: relative;
}

.parallax4 div.small-3:last-child {
	position: absolute;
	right: 0;
	top: 0;
}
.parallax7 .small-9 .small-8 {

}
.parallax7 .smash-icon {
	padding-bottom: 50%;
}
.parallax7 h2 {
	margin-bottom: 49.5%;
}
/*==== Were Growing ====*/
.zoom-slider {
	display: none;
}

/*==== Menu ====*/
.flip-container,  {
	height: 100%;
}
.menu-locate, .menu .slider .slide img, .local-burger {
	height: 301px;
}
.slider .slide img {
	width: 500px;
	overflow: auto;
}
.menu-locate h6 {
	margin-bottom: 20%;
}
.flip-container .back {
	opacity: 0;
}
.flip-container:hover .front {
	opacity: 0;
}
.flip-container:hover .back {
	opacity: 1;
}
.front img {
	padding-top: 100px;
	height: 300px;
	display: block;
	margin: 0 auto;
}
.locating img {
	padding-top: 0;
}
